<footer class="footer py-5">
  <div class="container">

    <div class="row">
      <div class="col-md-6">
        <%= image_tag 'OC-EC-H2020.jpg', class: 'img-fluid' %>
      </div>
      <div class="col-md-6">

        <div class="pt-3 pt-md-0">
          <small><%= t('index.funding_info') %></small>
        </div>
      </div>
    </div>

  </div>
</footer>