<div class="page-header">
  <canvas id="particles-js"></canvas>

  <div class="page-header-content container">
    <h1 class="page-header-title pt-sm-5 px-3 px-md-5">
      <%= get_discourse_post(section: 'site_title', locale: I18n.locale) %>
    </h1>

    <div class="page-header-details">
      <div class="lead">
        <%= get_discourse_post(section: 'intro', locale: I18n.locale) %>

        <%= partial 'btn_share_you_experience', locals: { css_class: 'mt-4'} %>
      </div>
    </div>
  </div>

</div>