/* SECTION: Global custom styles */
/***********************************************/

body {
  background-color: #0f4e9e;
}

.navbar-light {
  .nav-link {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
  }
}

.page-header {
  padding-bottom: 70px;

  .page-header-content {
    z-index: 100;
    margin-top: -350px;
    position: relative;
  }

  .page-header-title {
    color: #fff;
    width: 100%;
    //padding: 0 15%;
    text-align: center;
  }


  .page-header-details {
    color: #fff;
    padding: 3rem 2rem 0;
  }
}

main {
  background-color: $light;
  min-height: 400px;
}

h2 {
  font-size: 3rem;
  margin: 90px 0 35px;
  text-align: center;
  font-weight: 600;
  color: #3C3850;
  position: relative;
}

h3 {
  text-transform: uppercase;
  margin-top: 4rem;
  color: #CB4761;
}

a:not([href]):not([tabindex]) {
  &, &:hover, &:focus {
    color: $link-color;
    text-decoration: none;
  }
}

footer {
  background: $light;
  margin-top: 70px;

  .logo-title {
    font-family: Arial, Calibri, Garamond, Trebuchet, Tahoma, Verdana;
    color: #074ea2;
    max-width: 150px;
    text-align: right;
  }
  
  .logo-image img {
    width: 130px;
  }
  
  .logo-info .small {
    // Padding should conform to the gap in the two parts of the Climate-KIC logo, so in px.
    padding-left: 17px;
  }
}

/* SECTION: Styles for "Home" */
/***********************************************/

section#activity {
  h2 {
    margin-top: 0;
  }
}

#slides {
  /* "Scale width proportionally so that height is a bit less than 100% of viewport height."
     Because with 4:3 slides, a width of 125%vh results in a height of 120%/4*3 = 90%vh. */
  max-width: 120vh;
  margin: auto;
}

/* SECTION: Styles for "The Project" */
/***********************************************/



/* SECTION: Styles for "About" */
/***********************************************/

.card-teammember {
  width:100%;

  .card-img {
      display: block;
      max-height: 250px;
      max-width: 250px;
      margin: auto;
  }

  .card-body {
    min-height: 100px;
  }
}