body {
  background-image: url("/assets/images/site-background.png");
  background-repeat: repeat;
}


main {
  background-color:#fff;
}

.hero {
  min-height: 400px;
  position: relative;
  z-index: 10;
  text-align: center;
  padding-top: 60px;
}