body {
  background-image: url("/assets/images/site-background.png");
  background-repeat: repeat;
}

main {
  background-color: #fff;
}

footer {
  background: $light;
  margin-top:70px;
}

h2 {
  font-size: 3rem;
  margin: 90px 0 35px;
  text-align: center;
  font-weight: 600;
  color: #3C3850;
  position: relative;
}

h3 {
  text-transform: uppercase;
  margin-top: 4rem;
}


.navbar-dark {
  .nav-link {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
  }
}

.page-header {
  position: relative;

  .page-title {
    color: #fff;
    top: 40px;
    position: absolute;
    width: 100%;
    padding: 0 15%;
    text-align: center;
  }

  #particles-js {
    width: 100%;
    height: 300px !important;
  }
}

.jumbotron {
  padding: 3rem 2rem 0;

  .btn {
    color:#fff;
    padding: .8rem 2rem;
    font-weight: 600;
    font-size: 1.25rem;
  }
}

#storyboard-carousel {

}


.eu-emblem-info {
  font-family: Arial, Calibri, Garamond, Trebuchet, Tahoma, Verdana;
  color: #074ea2;
  max-width: 150px;
  text-align:right;
}
.eu-emblem img {
  width:130px;
}