<footer class="footer">


  <div class="section-bg-2 py-5">
    <div id="funders" class="container">


      <div class="row no-gutters pt-4">

        <div class="col-md-6 col-lg-4">
          <div class="d-flex flex-row justify-content-end">
            <div class="logo-title pr-3 align-self-center">
              An Edgeryders project
            </div>
            <div class="logo-image">
              <%= link_to image_tag('edgeryders-logo.png'), 'https://edgeryders.eu/' %>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="logo-info pt-3 pt-md-0">
            <div>Sci-Fi Economics Lab is a project of Edgeryders OÜ, a not-for-profit company built around a community of changemakers.</div>
          </div>
        </div>

      </div>


      <div class="row no-gutters pt-4">

        <div class="col-md-6 col-lg-4">
          <div class="d-flex flex-row justify-content-end">
            <div class="logo-title pr-3 align-self-center">Supported by</div>
            <div class="logo-image">
              <%= link_to image_tag('climate-kic-logo-left.png'), 'https://www.climate-kic.org/' %>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="logo-info pt-3 pt-md-0">
            <%= link_to image_tag('climate-kic-logo-right.png'), 'https://www.climate-kic.org/' %>
          </div>
        </div>

      </div>


      <div class="row no-gutters pt-4">

        <div class="col-md-6 col-lg-4">
          <div class="d-flex flex-row justify-content-end">
            <div class="logo-title pr-3 align-self-center">
              Funded by the European Union
            </div>
            <div class="logo-image">
              <%= image_tag 'eu-logo.png', class: '' %>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="logo-info pt-3 pt-md-0">
            <div>Climate-KIC is supported by the EIT, a body of the European Union. The Reef has received project funding from the
              European Union in 2019.</div>
          </div>
        </div>

      </div>


    </div>
  </div>



  <div class="section-bg-5 py-5">
    <div id="terms" class="container">

      <div class="row pt-3 pb-3">

        <div class="col-12 col-md-9">
          <h4>Terms of Use, Privacy Policy &amp; Imprint</h4>

          <p class="mt-2">The Edgeryders online platform and activities are intended for people to cooperate 
            within and across projects trying to build a better world. The word "better" has here a fairly broad range of 
            meaning. These <a href="https://edgeryders.eu/t/45">Community 
            Guidelines</a> are here to help you understand what it means to be a member of Edgeryders. Don’t forget that 
            your use of Edgeryders is subject to these Community Guidelines and our 
            <a href="https://edgeryders.eu/t/44">Terms of Use and Privacy Policy</a>.</p>

          <p class="mt-2">For legally required information and source attribution see 
            <a href="/imprint">the Imprint</a>.</p>
        </div>

        <div class="col border-left border-white">
          <h4>Contact Us</h4>
      
          <p class="mt-2">
            <a href="mailto:contact@edgeryders.eu">Email</a><br>
            <a href="/team">Team Members</a><br>
            <a href="https://twitter.com/edgeryders">Twitter</a><br>
            <a href="https://facebook.com/edgeryders">Facebook</a>
          </p>
        </div>
      </div>

    </div>
  </div>

</footer>
