<footer class="footer py-5">
  <div class="container">

    <div class="row">
      <div class="col-md-6 col-lg-4">

        <div class="d-flex flex-row justify-content-end">
          <div class="eit-partner-title pr-3 align-self-center">
            <span>EIT Partner</span>
          </div>
          <div class="eit-logo">
            <%= image_tag 'eit-logo.png', class: '' %>
          </div>
        </div>

      </div>
      <div class="col-md-6">

        <div class="pt-3 pt-md-0">
          <small>Edgeryders OÜ is a partner of the EIT, the European Institute of Innovation &amp;
            Technology. This project is supported under its Climate-KIC programme.</small>
        </div>
      </div>
    </div>

    <div class="row pt-4">
      <div class="col-md-6 col-lg-4">
        <%# image_tag 'OC-EC-H2020.jpg', class: 'img-fluid' %>

        <div class="d-flex flex-row justify-content-end">
          <div class="eu-emblem-info pr-3 align-self-center">
            <span>Funded by the European Union</span>
          </div>
          <div class="eu-emblem">
            <%= image_tag 'eu-emblem.png', class: '' %>
          </div>
        </div>

      </div>
      <div class="col-md-6">

        <div class="pt-3 pt-md-0">
          <small>The EIT is a body of the European Union. Via the EIT, this project has received funding from the
            European Union in 2019.</small>
        </div>
      </div>
    </div>

  </div>
</footer>
