<div class="page-header">
  <div class="page-header-overlay">

    <div class="page-header-content container pt-5 pb-2 pb-md-4">
      <h1 class="page-header-title px-3 px-md-5">
        Green, beautiful spaces for the 99%
      </h1>

      <div class="page-header-details">
        <div class="lead">
        The Reef is a new kind of living space. It uses the power of community to help 
        people transition to a happier, healthier, greener, more social lifestyle.
        </div>
      </div>
      
    </div>

  </div>
</div>
