<div class="page-header">

  <div class="page-header-content container">
    <h1 class="page-header-title pt-sm-5 px-3 px-md-5">
      <%= get_discourse_html_post(topic_id: …, post_id: …) %>
    </h1>

    <div class="page-header-details">
      <div class="lead">
        <%= get_discourse_html_post(topic_id: …, post_id: …) %>
      </div>
    </div>
  </div>

</div>
