<%# Section for the hidden page for live streaming %>
<div class="section-bg-5">
  <section id="legals" class="container">

    <iframe 
      src="https://www.youtube.com/embed/5i9lSDIIjH8"
      width="560" height="315" frameborder="0" 
      allowfullscreen 
      allow="accelerometer; encrypted-media; gyroscope; picture-in-picture">
    </iframe>

    <iframe 
      src="https://www.youtube.com/live_chat?v=5i9lSDIIjH8&embed_domain=scifieconomicslab.net" 
      width="560" height="315" frameborder="0">
    </iframe>

  </section>
</div>
