<%# Section for the hidden page for live streaming %>
<div class="section-bg-5">
  <section id="legals" class="container">

    <iframe 
      src="https://www.youtube.com/embed/5i9lSDIIjH8"
      width="560" height="315" frameborder="0" 
      allowfullscreen 
      allow="accelerometer; encrypted-media; gyroscope; picture-in-picture">
    </iframe>

    <div id="chat-embed-wrapper" width="560" height="315"></div>

    <script>  
      let frame = document.createElement("iframe");  
      frame.referrerPolicy = "origin";  
      frame.src = "https://www.youtube.com/live_chat?v=5i9lSDIIjH8&embed_domain=" + window.location.hostname;
      frame.frameBorder = "0";  
      frame.id = "chat-embed";  
      let wrapper = document.getElementById("chat-embed-wrapper");  
      wrapper.appendChild(frame); 
    </script>

  </section>
</div>
